<div class="splash" id="splash">
  <div class="splash-blob splash-blob-1"></div>
  <div class="splash-blob splash-blob-2"></div>
  <div class="splash-blob splash-blob-3"></div>
  <div class="sparkles" id="splashSparkles"></div>

  <div class="splash-content">
    <div class="splash-logo-wrap">
      <img class="splash-logo-img" src="https://res.cloudinary.com/s9jk4ddk/image/upload/v1784549891/file_00000000900082439c6d12c313a4b3f2_qikex1.png" alt="Her Digital Playbook logo">
    </div>
    <h1 class="splash-title">Her Digital Playbook</h1>
    <div class="splash-tagline">
      <span>Learn.</span><span>Build.</span><span>Earn.</span><span>Elevate.</span>
    </div>
  </div>
</div>
