<div class="splash" id="splash">
  <div class="splash-shimmer"></div>
  <div class="splash-blob splash-blob-1"></div>
  <div class="splash-blob splash-blob-2"></div>
  <div class="splash-blob splash-blob-3"></div>
  <div class="sparkles" id="splashSparkles"></div>

  <div class="splash-content">
    <div class="splash-logo-circle">
      <img class="splash-logo-img" src="https://res.cloudinary.com/s9jk4ddk/image/upload/v1786286194/file_00000000bf7c821186b8c99e14d14dfa_j8vxfm.png" alt="Her Digital Playbook">
    </div>
    <h1 class="splash-brand-title">
      <span>Her</span> <span>Digital</span> <span>Playbook</span>
    </h1>
    <p class="splash-tagline">
      <span>Learn.</span><span>Build.</span><span>Earn.</span><span>Elevate.</span>
    </p>
  </div>
</div>
