<div class="splash" id="splash">
  <div class="splash-shimmer"></div>
  <div class="splash-blob splash-blob-1"></div>
  <div class="splash-blob splash-blob-2"></div>
  <div class="splash-blob splash-blob-3"></div>
  <div class="sparkles" id="splashSparkles"></div>

  <div class="splash-content">
    <img class="splash-logo-img" src="https://res.cloudinary.com/s9jk4ddk/image/upload/w_500,q_auto,f_auto,dpr_auto/v1784549891/file_00000000900082439c6d12c313a4b3f2_qikex1.png" alt="Her Digital Playbook">
    <p class="splash-tagline">Learn. Build. Earn. <em>Elevate.</em></p>
  </div>
</div>
